@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/** Reset */
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  /* flex-grow: 1; */

  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  min-height: 100vh;
  min-width: 100%;
  background: rgb(232, 236, 241);
}
.container {
  width: 100%;
}
button {
  padding: 1rem;
}
#app {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 75rem;
  flex-grow: 1;
  /* padding: 30px; */
}
